@font-face {
    font-family: 'Retro-Gaming';
    src: url('Retron2000.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Retro-Gaming';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #fff;
}

#auth-container {
    margin-top: 100px;
    padding: 30px;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 8px;
}

#auth-title {
    padding-bottom: 30px;
}

.auth-tabs {
    
    align-self: stretch;
    display: flex;
}

#sign-in-tab, #sign-up-tab {
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #121212;
    cursor: pointer;
}

#sign-in-tab-container, #sign-up-tab-container {
    padding: 40px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px solid #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#sign-in-tab-container input, #sign-up-tab-container input {
    align-self: stretch;
    margin: 20px 40px;
    padding-left: 10px;
    height: 40px;
    border-radius: 8px;
}
#sign-in-tab-container button, #sign-up-tab-container button {
    align-self: stretch;
    margin: 20px 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

#msg-error {
    margin: 10px;
}

/*  Tab classes */
.focused-tab {
    border-top: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    cursor: default !important;
}
.focused-tab-container {
    display: flex !important;
}

/* Mobile */

@media screen and (max-width: 968px) {
    #auth-container {
        margin-top: 0;
        border: none;
    }
}