#logo{
    margin-top:100px;
    margin-bottom:50px;
}
.col{
    flex-grow:0;
}
.row{
    margin-top:30px;
    margin-bottom:30px;
}

#Boutons{
    border: white 4px solid;
    margin-left:340px   ;
    margin-right:0;
    padding:0 0 0 0;
    width:40%;
    position:center;
}

.MaDivModal {
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: Retron2000;
}

#submitBtn {
    background-color: #140602;
    margin-left: 25%;
    color: white;
}

#create {
    top: 50%;
    transform: translateY(50%);
}

.modal-dialog {
    height: 60%;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

.modal-content {
    height: 80%;
}
