#logo{
    margin-top:100px;
    margin-bottom:50px;
}
.col{
    flex-grow:0;
}
.row{
    margin-top:30px;
    margin-bottom:30px;
}
#Boutons{
    border: white 4px solid;
    margin-left:340px   ;
    margin-right:0;
    padding:0 0 0 0;
    width:40%;
    position:center;
}
