<!DOCTYPE html>
<html>
<head>        
    <title>Pong - Scoreboard</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/retron2000" rel="stylesheet">
    <style>
        *{font-family: Retron2000; padding: 0; margin: 0;}
        .v-progress-circular__underlay{stroke: red;}
        .anim{
            transition: 1s;
        }
        .anim:hover{
            transform: translateY(-10px);
            transition: 1s;
            transform: scale(1.05);
        }
    </style>
</head>
<body>
    <div id="app" >
        <v-app style="background: #121212;"class="ma-0 pa-0" >
            <v-progress-linear color="white" indeterminate reverse></v-progress-linear>
            <div style="color: white; position: absolute; right: 10em; z-index: 999; margin-top: 2em;">
            <div class="anim"><v-btn href="/accueil" class="white--text" x-large depressed elevation="2" outlined style="border: 3px solid white;">Retour</v-btn></div>
            </div>

            <div style="color: white; position: absolute; left: 5em; z-index: 999; margin-top: 2em;">
                <center>
                    <h2 style="font-size: 3em;">Ratio V/D<h2>
                        
                    <p style="font-size: 2em;" v-if="ratio > 1"style="margin: auto auto; font-size: 1em;" class="Victoire--text" >{{ ratio }}</p>
                    <p style="font-size: 2em;" v-if="ratio == 1"style="margin: auto auto; font-size: 1em;" class="white--text" >{{ ratio }}</p>
                    <p style="font-size: 2em;" v-if="ratio < 1"style="margin: auto auto; font-size: 1em;" class="Defaite--text" >{{ ratio }}</p>  

                    <h2 style="margin-top: 2em; font-size: 3em;">Parties<h2>
                    <p style="margin: 0.8em auto; font-size: 2em;">{{ parties.length }} </p>
                    <v-progress-circular style="margin: auto auto; stroke: red;" :width="15" :size="150"
                        :value="(victoires/parties.length)*100" color="Victoire"></v-progress-circular>   
                </center>
            </div>
            
            <h1 style="color: white; margin: 0 auto; font-size: 3rem; top: 0;">SCOREBOARD</h1>
            
            <v-card color="background" fluid class="ma-0 pa-0 rounded-0 elevation-0">
                <v-container class="justify-center d-flex elevation-0">
                    <v-expansion-panels class="rounded-xl col-6 d-flex justify-center elevation-0">
                        <v-expansion-panel class="mb-5 rounded-xl" v-for="(partie,index) in parties" v-bind:key="partie.id">
                            <div class="anim"><v-expansion-panel-header outlined style="border: 4px solid white; background: #121212;" class="rounded-xl">
                                    <v-card-title>
                                        <v-chip class="col-0 ml-5 white black--text">{{index+1}}</v-chip>
                                        <v-container class="col-10 ma-0" :class="(partie.result)+'--text'">{{ partie.result }}</v-container>
                                    </v-card-title>
                                </v-expansion-panel-header ></div>
                                <v-expansion-panel-content class="rounded-xl" >
                                        <v-simple-table class="rounded-xl">
                                            <template v-slot:default >
                                            <tbody>
                                                <tr>
                                                    <td class="black--text">Score</td>
                                                    <td class="black--text">{{ partie.pointsPlayer1}} - {{ partie.pointsPlayer2}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="black--text">Durée</td>
                                                    <td class="black--text"> {{ partie.duree }}</td>
                                                </tr>
                                                <tr> 
                                                    <td class="black--text">Date</td>
                                                    <td class="black--text">{{ partie.date }}</td>
                                                </tr>
                                            </tbody>
                                            </template>
                                        </v-simple-table> 
                                </v-expansion-panel-content>
                        </v-expansion-panel>
                            <v-sparkline style="margin: 2em auto auto auto;"
                            :fill="fill"
                            :gradient="selectedGradient"
                            :line-width="width"
                            :padding="padding"
                            :smooth="radius || false"
                            :value="ratioEvolution"
                            auto-draw>
                            <template v-slot:label="item">
                                {{ item.value }}
                            </template>
                        </v-sparkline>
                        <h3 v-if="ratioEvolution.length > 1" style="color: white;">Ratios des dernières parties</h3>
                        
                    </v-expansion-panels>
                    
                </v-container>
            </v-card>
        </v-app>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify({
        theme: {
    themes: {
        light: {
            background: '#121212',
            Victoire: '#00D81C',
            Defaite: '#ff0000'
                }
            }
        }
    }),
        data:{
            parties: [],
            victoires: 0,
            defaites: 0,
            ratio: 0,
            
            //Params sparkline
            fill: false,
            selectedGradient: ['white'],
            padding: 10,
            radius: 5,
            ratioEvolution: [0],
            width: 3,
        },
        created:function(){
            this.getData();
        },
        methods:{
            getData:function(){
                let self = this;
                axios.get("/scoreboard").then(function(reponse){
                    self.parties = reponse.data.parties;
                    self.victoires = reponse.data.victoires;
                    self.defaites = reponse.data.defaites;
                    
                    if(self.parties.defaites == 0)
                        self.ratio = self.victoires;
                    else
                        self.ratio = (self.victoires/self.defaites).toFixed(2);

                    self.ratioEvolution = reponse.data.ratioEvolution.reverse();

                })
            },
        }
    });
</script>
</html>